.fa {
    padding: 20px;
    font-size: 30px;
	width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .head {
      padding-top: 30px;
  }

  .mobilesOnly {
	  visibility:hidden;
	  }
	  
  .vl1 {
	border-left: 1px solid green;
	height: 450px;
	}
	
  .vl2 {
	border-left: 1px solid green;
	height: 700px;
	}
	  
  .vl3 {
	border-left: 1px solid green;
	height: 400px;
	}
	
  .image {

	border-radius: 50%;
  }

  .header {

	color: #FDFEFE;
    margin-top: 30px;
  }


  .myclass {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .mail-size {
      font-size: 20px;
  }

  .foot {
      text-align: center;
  }

  .body-out {
	  color: #efeff5;
      background-color: #17202A;
      text-align: justify;
  }
  
  @media screen and (max-width:479px) {
	.head{
		text-align:center;
	}
	.header .fa{
	width:unset;
	}
	.foot .fa {
	padding:0;
	}
  }